html {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: nomal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: auto;
  height: auto;
  display: block;
}
