html, body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: nomal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.bannerText {
  font-size: 32px;
  margin: 27px;
  text-align: left;
}

.banner {
  width: 100vw;
  height: auto;
}
